
#home { 
	   background: url("images/gameslam_05.jpg") 50% 0 repeat fixed; min-height: 1000px; 
  		height: 250px; 
 		 margin: 0 auto; 
  		width: 100%; 
  		max-width: 1920px; 
 		 position: relative;
 		 margin-top: 50px;
}

#page1 {
	   background: url("images/Basketball-Court_Landscape.jpg") 50% 0 repeat fixed; min-height: 1000px; 
  	height: 1500px; 
  	margin: 0 auto; 
  	width: 100%; 
  	max-width: 1920px; 
  	position: relative;
}

#page2 {
		background: url("images/baseball.jpg") 50% 0 repeat fixed; min-height: 1000px; 
 	 height: 1000px; 
	  margin: 0 auto; 
	  width: 100%; 
	  max-width: 1920px; 
	  position: relative;
}


.jumbotron {
	background-color: transparent;
	color: white;
	margin-top: 30px;
}

h4 {
	color: white;
}
.container-fluid {
 	background: rgb(56,56,56);
 }
 
 .well {
 	background-color: gray;
 	opacity: 0.85;
 }
 
 #jumbotronID {
 	background: rgba(32,32,32, 0.5);
 }
 
 #sportsSearch {
 	color: white;
 	background: rgba(32,32,32, 0.5);
 }

h3 {
	font-size: 20px;
	font-weight: bold;
}

#events {
	color: white;
	background: rgba(32,32,32, 0.7);
 	margin-top: 25px;;
}

#eventsText:hover {
	cursor: pointer;
}

#socialMedia {
	color: white;
	background: rgba(32,32,32, 0.7);
 	margin-top: 25px;
}

#newsArticles {
	color: white;
	background: rgba(32,32,32, 0.7);
 	margin-top: 50px;
}

.newsPics {
	height: 120px;
	width: auto;
	float: left;
	display: inline-block;
	margin-right: 8px;
}

.articlebody {
	float: right;
	margin-bottom: -5px;
}

.newsTitle {
	margin-top: -10px;
}

.newsLink {
	text-decoration: none;
	font-weight: bold;
	color: red;
}

.datePub {
	float: right;
	margin-top: 12px;
}